/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}


#root {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    
}



.header-content {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}



.register-section button {
    color: #4c04b8;
    background-color: white;
    margin: auto 0 auto 0;
}

.landing-menu {
    display: flex;
    justify-content: center;
}

    .landing-menu button {
        background-color: white;

        color: #4c04b8;
    }

.logo-block {
    width: 6em;
}
.landing-menu .button-active {
    background-color: #4c04b8;
    color: white;
}

.landing-block-content {
    margin: 20px 10% 10px 10%;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
}

    .landing-block-content.active {
        margin: 20px 10% 10px 10%;
        position: relative;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .landing-block-content h1 {
        font-weight: 600;
        font-size: 14px;
        
    }
    .landing-block-content p {
        font-weight: 400;
        font-size: 10px;
        padding: 7px 5px 5px 5px;
    }



body {
    background-color: #eeebfc;

}

.landing-text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 0 0;
}

.landing-image-home {
    width: 20em;
}
.landing-text-address {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .landing-text-address a svg {

        transform: rotate(180deg);
        transform-origin: center;
        margin-left: 5px;
        
    }
    .landing-arrow{
        width: 2%;
        height: 2%;
    }

    .landing-text-address a svg {
        transform: rotate(180deg);
        transform-origin: center;
        margin-left: 5px;
        width:100%;
        height:100%;
    }


.footer-content {
    background-color: #4d4c4c;
    padding: 25px 0 25px 0;
    color: white;
}


@media only screen and (max-width: 399px) {
    .logo-block {
        display: none;
    }
    .landing-menu button {
        padding: 0.3em 3px  0.3em 2px;
        margin: 0 3px 0 3px;
    }

    .header-content > div {
        padding: 0 5px 0 5px;
    }

}
@media only screen and (min-width: 400px) {
    .logo-block {
        display: block;
        width: 10%;
    }
    .landing-menu button {
        padding: 0.3em 3px 0.3em 2px;
        margin: 0 3px 0 3px;
    }

    .header-content > div {
        padding: 0 10px 0 10px;
    }
}

@media only screen and (min-width: 600px) {
    .logo-block {
        display: block;
        width: 4.5em;
    }

    .landing-menu button {
        padding: 0.3em 10px 0.3em 10px;
        margin: 0 3px 0 3px;
    }


    .header-content > div {
        padding: 0 20px 0 20px;
    }
    .landing-block-content h1 {

        font-size: 18px;
    }

    .landing-block-content p {

        font-size: 14px;
        padding: 7px 5px 5px 5px;
    }
    .landing-text-address {
        margin-bottom:20px;

    }

}

@media only screen and (min-width: 800px) {
    .logo-block {

        width: 5.5em;
    }
    .landing-block-content {
        margin: 20px 15% 10px 15%;
    }
    .landing-menu button {
        font-size: 18px;
        padding: inherit 20px inherit 20px;
    }

    .header-content > div {

        padding: 0 25px 0 25px;
    }
    .register-section button {
        font-size: 18px;
    }
    .landing-block-content h1 {
        font-size: 22px;
    }

    .landing-block-content p {
        font-size: 18px;
        padding: 7px 5px 5px 5px;
    }
    .landing-text-address {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 1000px) {
    .logo-block {
        width: 6em;
    }


    .landing-menu button {
        padding: inherit 20px inherit 20px;
    }

    .header-content > div {
        padding: 0 25px 0 25px;
    }
    .landing-block-content h1 {
        font-size: 27px;
    }
    .landing-block-content{
        margin: 20px 20% 10px 20%;
    }
    .landing-block-content p {
        font-size: 22px;
        padding: 7px 5px 5px 5px;
    }
    .landing-text-address {
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 1500px) {


    .landing-menu button {
        padding: inherit 20px inherit 20px;
    }

    .header-content > div {
        padding: 0 25px 0 25px;
    }

}