/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}


#root {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    
}





body {
    background-color: #eeebfc;
}

main {
    display: flex;
    height: 100%;
}

.left-block {
    width: 50%;
    background-image: url(./assets/image-bg-portfolio-1.png);
    background-size: cover; /* Автоматично масштабує зображення */
    background-position: center; /* Центрує зображення */
    background-repeat: no-repeat; /* Не повторює зображення */
}

.right-block {
    width: 50%;
    background-color: #eeebfc;

}

.right-block-content {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

    .right-block-content form {

        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 4% auto 0 auto;
    }

.form-group {
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
    .form-group label {
        font-weight: 600;
        padding-bottom: 5px;
        font-size: 24px;
    }

    .form-group input {
        background-color: white;
        color: black;
        border: #eeebfc;
        font-size: 24px;
    }
button {
    margin: 24px auto 0 auto;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    font-weight: 700;
    background-color: #4c04b8;
}

    button:hover {
        background-color: white;
        color: #4c04b8;
    }
.right-block-content-sign {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.right-block-content-sign p{
    padding-right:5px;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 24px auto 15px auto;
    color: #4c04b8;
    font-family:Rubik;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;

    }
    .left-block {
        width: 100%;
        height:50vh;
    }
    .right-block {
        width: 100%;
    }

    h1 {
        font-size: 18px;
        font-weight: 800;
        margin: 8px auto 15px auto;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
        .form-group label {
            font-weight: 600;
            padding-bottom: 5px;
            font-size: 12px;
        }

        .form-group input {
            background-color: white;
            color: black;
            border: #eeebfc;
            font-size: 12px;
        }
    button {
        margin: 12px auto 0 auto;
        padding: 10px 20px 10px 20px;
        font-size: 16px;

    }
    .right-block-content-sign p {
        font-size: 12px;
    }



}



@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;

    }

    .left-block {
        width: 100%;
        height: 30vh;
    }

    .right-block {
        width: 100%;
    }

    .right-block-content {
        width: 60%;
    }

    h1 {
        font-size: 24px;
        font-weight: 800;
        margin: 8px auto 15px auto;

    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

        .form-group label {
            font-weight: 600;
            padding-bottom: 5px;
            font-size: 14px;
        }

        .form-group input {
            background-color: white;
            color: black;
            border: #eeebfc;
            font-size: 14px;
        }

    button {
        margin: 20px auto 0 auto;
        padding: 10px 20px 10px 20px;
        font-size: 16px;
    }

    .right-block-content-sign p {
        font-size: 14px;
    }
}